---
layout: archive
permalink: /
title: "Bio"
excerpt: "Bio"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

{% include base_path %}

<body>
	<h2>Journal</h2>
	<ol>
		{% for post in site.news %}
			<li>
				{% if post.newstitle %}
					{{ post.newstitle }}
				{% endif %}
				<br>
				{% if post.newslink %}
					<a href="{{ post.newslink }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.newsurl %}
					<a href="{{ post.newsurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.newscode %}
					<a href="{{ post.newscode }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.newsgithub %}
					<a href="{{ post.newsgithub }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
				{% endif %}
			</li>			
	{% endfor %}
	</ol>
	
</body>
