---
layout: archive
permalink: /publications/
title: "Patents"
author_profile: true
---
{% include base_path %}

<ol>
	{% for post in site.publications %}
		{% if post.level == 'patent' %}
			<li>
				{% if post.citation %}
					{{ post.citation }}
				{% endif %}
				<br>
				{% if post.link %}
					<a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.paperurl %}
					<a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.code %}
					<a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.github %}
					<a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
				{% endif %}
			</li>			
		{% endif %}
{% endfor %}
</ol>
<h1 class="archive__item-title" itemprop="headline">Journal Papers</h1>
<ol>
	{% for post in site.publications %}
		{% if post.level == 'journal' %}
			<li>
				{% if post.citation %}
					{{ post.citation }}
				{% endif %}
				<br>
				{% if post.link %}
					<a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.paperurl %}
					<a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.code %}
					<a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.github %}
					<a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
				{% endif %}
			</li>			
		{% endif %}
{% endfor %}
</ol>

<h1 class="archive__item-title" itemprop="headline">Conference Papers</h1>
<ol>
	{% for post in site.publications %}
		{% if post.level == 'conference' %}
			<li>
				{% if post.citation %}
					{{ post.citation }}
				{% endif %}
				<br>
				{% if post.link %}
					<a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.paperurl %}
					<a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.code %}
					<a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
				{% endif %}
				{% if post.github %}
					<a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
				{% endif %}
			</li>			
		{% endif %}
{% endfor %}
</ol>


